<h1>You're already subscribed!</h1>

<p>If you would like to pause or cancel your subscription, please email us at: <a href="mailto:vidfluentai@gmail.com">vidfluentai@gmail.com</a>. Cancellation requests will be handled within 24 hours.</p>
