<p>$5.00 per month gives you 60 minutes total of video to tweet conversions along with their transcriptions.</p>
<form action="/create-checkout-session" method="POST">
    <input type="hidden" name="priceId" value="@ViewBag.PriceId" />
    <button class="btn btn-primary btn-lg" type="submit">Subscribe for $5.00/Month</button>
</form>