@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Unlock a wider audience with just one click: Transcribe YouTube to tweets</h2>
    <p class="mt-5">Introducing the ultimate tool for <strong>maximizing your social media presence!</strong> Our web service seamlessly transcribes your YouTube videos into tweets, making it easy to share your content across multiple platforms.</p>
    <p>With just a few clicks, you can turn your long-form video content into bite-sized tweets that are perfect for sharing on Twitter, Facebook, and Instagram. Our state-of-the-art transcription technology ensures that your tweets are accurate and easy to read, so your followers can enjoy your content in a whole new way.</p>
    <p>Don't let your YouTube videos go to waste! Start transcribing them into tweets today and reach a wider audience than ever before. Sign up now and start sharing your content like a pro!</p>

    <a asp-controller="Jobs" asp-action="Create" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Get Started</a>
    <a asp-controller="DemoJobs" asp-action="Create" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Try a Free Sample</a>
</div>

<h3 class="text-center mt-5">Samples</h3>
<div class="d-flex justify-content-between mt-5">
    <div class="card" style="width: 18rem;">
        <img src="~/img/card-1.png" class="card-img-top" alt="YouTube to Tweet">
        <div class="card-body">
            <p class="card-text">Life is a journey, and sometimes the road takes unexpected turns. But it's not about the destination, it's about the growth and learning along the way. #pensive #journey #growth</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/img/card-2.png" class="card-img-top" alt="YouTube to Tweet">
        <div class="card-body">
            <p class="card-text">The world is full of diversity and beauty. Embrace different cultures, ideas and people, it will make you a more worldly and understanding individual. #worldly #diversity #tolerance</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/img/card-3.png" class="card-img-top" alt="YouTube to Tweet">
        <div class="card-body">
            <p class="card-text">Self-awareness is the key to personal growth. Recognize your strengths, acknowledge your weaknesses and take responsibility for your actions. #selfawareness #personalgrowth #responsibility</p>
        </div>
    </div>
</div>
