<h1>Success!</h1>

<p>Your YouTube Url has been submiited and will be processed as soon as possible. You will receive an email with the tweet once its ready!</p>

<div>
    <a asp-controller="Home" asp-action="Index">Go Home</a>
</div>